html {
  font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: palegoldenrod;
  margin-bottom: 60px;
}

/*****BANANA ANIMATION*****/

/*creates a container for the banana image*/
#bananaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 50%; 
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*specifies that the image will infinitely loop a 2 second spin*/
#bananaContainer img {
    height: 50%;
    animation: rotate 2s infinite linear;
}

#myAnimation {
    width: 50px;
    height:100px;
    position: absolute;
}